API/.vs/CPSC471_RentalSystemAPI/config/applicationhost.config
API/.vs/CPSC471_RentalSystemAPI/DesignTimeBuild/.dtbcache.v2
API/.vs/CPSC471_RentalSystemAPI/v16/.suo
API/bin/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.deps.json
API/bin/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.dll
API/bin/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.pdb
API/bin/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.runtimeconfig.dev.json
API/obj/CPSC471_RentalSystemAPI.csproj.nuget.dgspec.json
API/obj/CPSC471_RentalSystemAPI.csproj.nuget.g.props
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.assets.cache
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.dll
API/obj/Debug/netcoreapp2.1/CPSC471_RentalSystemAPI.pdb
API/obj/project.assets.json
API/obj/project.nuget.cache
